{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Register Account" %}{% endblock %}

{% block inner %}
<div class="card p-0">
  <div class="card-header p-3 bg-warning bg-opacity-50">
    <div class="d-flex justify-content-between px-2">
      <div class="card-title align-self-center mb-0">
        <h3>{% translate "Register Account" %}</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <form method="POST" action="{% url 'user_registration:create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex align-items-center justify-content-md-end mt-5">
          <a class="btn btn-secondary me-3" href="{{request.META.HTTP_REFERER}}">
            Cancel
          </a>
          <button class="primaryAction btn btn-primary" df-click="disable -> submit -> proceed !~ scrollToError">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
