{% load humanize %}
{% include 'portfolio/partials/student_header_w_image.html' with student_profile=user_object.student_profile %}
<div class="row grid-margin">
  <div class="card p-0">
    <div class="card-header p-3 bg-warning bg-opacity-50">
      <div class="d-flex justify-content-between px-2">
        <div class="card-title align-self-center mb-0">Portfolio</div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>Form</th>
              <th>Status</th>
              <th>Last Update</th>
              <th>Remarks</th>
              <th>Actions</th>
            </tr>
            {% for profile in user_object.portfolio_records %}
              <tr>
                <td class="py-3">{{ profile.model_name|title }}</td>
                <td class="py-3">{{ profile.model_object.status.as_badge|safe|default:"No Submission" }}</td>
                <td class="py-3">{{ profile.model_object.updated_at|naturalday }}</td>
                <td class="py-3">{{ profile.model_object.latest_additional_data_as_html }}</td>
                <td class="py-3">
                  {% if profile.existing %}
                    <a class="me-2 d-inline text-decoration-none" href="{{ prepend|slice:':-1' }}{{ profile.model_object.get_absolute_url }}" title="view"><i class="mdi mdi-eye"></i></a>
                    {% if request.user == profile.model_object.user %}
                      {% if profile.model_object.is_editable_by_owner or not profile.existing %}
                        <a class="d-inline text-decoration-none" href="{{ prepend|slice:':-1' }}{{ profile.update_url }}" title="update"><i class="mdi mdi-pencil"></i></a>
                      {% else %}
                        <i class="mdi mdi-pencil-lock" title="Editing locked. Either due to active applications under review OR portfolio has been verified"></i>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    {% if request.user.is_sao %}
                      <i class="mdi mdi-eye-off" title="No submission"></i>
                    {% else %}
                      <a class="d-inline text-decoration-none" href="{{ prepend|slice:':-1' }}{{ profile.update_url }}" title="update"><i class="mdi mdi-pencil"></i></a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>