{% extends base%}
{% load formsetify %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">

        <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
          {% if form_collection %}
          {{ form_collection }}
          {% elif form %}
          {% render_form form "bootstrap" field_classes="pb-3 mb-2" %}
          {% endif %}
          {% block form_collection_buttons %}
          <div class="d-flex align-items-center justify-content-md-end">
            <a class="btn btn-secondary me-3" href="{{request.META.HTTP_REFERER}}">
              {% translate "Cancel" %}
            </a>

            <button class="primaryAction btn btn-primary"
              click="disable -> submit -> proceed !~ scrollToError">
              Save
            </button>
          </div>
          {% endblock %}
        </django-formset>
      </div>
    </div>
  </div>
</div>
{% endblock %}