<a target="_blank" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&su={{'Incident#'|urlencode}}{% now "YmdGis" %}P{{request.user.pk|default:0}}+Report+an+Issue&to=sikap.upd@up.edu.ph&body=Full+name:%0ANickname:%0AUP+Email:%0AStudent+Number:%0A%0AReported+on:%20{{request.path|urlencode}}%0A%0AConcern:%0A%5Bplease+state+your+concern%5D%0A%0AWhat+happened:%0A%5Bplease+itemize+actions+done%5D%0A%0ASupporting+evidence+or+attachments:%0A%5Bplease+attach+supporting+proof%5D" class="text-decoration-none">
<div id="fixed-button">
    <i class="mdi mdi-24px mdi-comment-question-outline" title="Report an issue">
    </i>
</div>
</a>