{% extends "partials/public/base.html" %}

{% block content %}
<div class="container">
  <div class="card p-0">
    <div class="card-header p-3 bg-warning bg-opacity-50">
      <div class="d-flex justify-content-between">
        <div class="card-title align-self-center mb-0">
          Scholarship Information Kit (SIKAP)
        </div>
        <div class="text-muted">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <h3 class="py-3">Rationale:</h3>

        <p>
          The Scholarship Information Kit and Portal, known as SIKAP, is an advanced and automated database and
          application portal managed by the Office of Scholarships and Grants.
        </p>

        <p>
          This comprehensive platform serves as a centralized hub for all government- and privately-funded scholarships
          offered to students. SIKAP aims to streamline and optimize the entire scholarship process, ensuring a smooth
          and efficient experience for both applicants and scholarship officers.
        </p>

        <h3 class="py-3">Objectives:</h3>
        <ul>
          <li>
            <p><strong>Access to Available Scholarships: </strong>
              <ul>
                <li>
                  <p>
                    SIKAP provides a user-friendly platform for students to
                    easily view and explore the multitude of scholarships available at UP Diliman.
                  </p>
                </li>
              </ul>
            </p>
          </li>
          <li>
            <p>
              <strong>Automated Application and Processing:</strong>
              <ul>
                <li>
                  <p>
                    The portal automates the application process for
                    various scholarships, thereby reducing administrative burdens and expediting the evaluation and
                    eligibility
                    ranking of applicants.
                  </p>
                </li>
              </ul>
            </p>
          </li>
          <li>
            <p>
              <strong>Efficient Notifications and Disbursements:</strong>

              <ul>
                <li>
                  <p>
                    SIKAP facilitates seamless communication by
                    automating notifications for acceptance and confirmation of scholarship grants. Moreover, it ensures
                    timely
                    notifications to grantees about the availability of scholarship endowments.
                  </p>
                </li>
              </ul>
            </p>
          </li>
        </ul>

        <h3 class="py-3">Significance:</h3>
        <p>
          The Office of Scholarships and Grants at UP Diliman manages a vast array of scholarships with varying criteria
          and benefits. However, the limited number of scholarship officers results in several challenges, such as
          application and information backlogs, and difficulties in monitoring and evaluating scholarship data.
        </p>
        <p>
          SIKAP addresses these issues by introducing automation, thereby optimizing
          the delivery of financial support services to deserving students. This not only enhances the efficiency of the
          scholarship process but also fosters stronger donor relations and ensures the continuity and success of
          scholarship programs.
        </p>
      </div>
    </div>
  </div>
  <div class="card p-0 my-5">
    <div class="card-header p-3 bg-warning bg-opacity-50">
      <div class="d-flex justify-content-between">
        <div class="card-title align-self-center mb-0">
          Office of Scholarships &amp; Grants
        </div>
        <div class="text-muted">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <h3 class="py-3">About:</h3>
        <p>
          The Office of Scholarships &amp; Grants is dedicated to providing essential student services, aligning with UP
          Diliman's mission to support all UP students as catalysts for national development. This office administers
          various
          financial assistance programs and policies, offering crucial support to the Iskolar ng Bayan. Additionally, it
          collaborates with UP Diliman units through the SAGA Program to provide comprehensive student services.
        </p>
        <p>
          Under the
          supervision of the Office of the UP Diliman Vice Chancellor for Student Affairs, OSG also plays a vital role
          in
          assisting the Office of the Vice President for Academic Affairs and the Office of Student and Financial
          Affairs in
          administering different financial assistance programs and related activities of the University.
        </p>

        <h3 class="py-3">History:</h3>
        <p>
          The Office of Scholarships and Student Services, originally named Student Financial Assistance Services
          (SFAS),
          was established in 1991 during the 1040th meeting of the Board of Regents. Later, in 2018, under the
          administration
          of Chancellor Michael Tan, it was renamed the Office of Scholarships and Grants.
        </p>

        <h3 class="py-3">Vision:</h3>
        <p>
          To be a University that continuously supports students who become catalysts for national progress.
        </p>

        <h3 class="py-3">Mission:</h3>
        <p>
          To ensure that the unavailability of financial resources will never be a barrier for students in pursuing a UP
          education.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
