{% extends "partials/public/base.html" %}
{% block jumbotron %}
      <main>
        <div class="jumbotron jumbotron-fluid">
          <div class="container text-white">
            <div>
              <h1>Welcome to SIKAP</h1>
              <h4>The Scholarship Kit and Information Portal</h4>
              <p class="font-italic">where students rise UP with opportunities</p>
              <a class="btn btn-primary btn-lg mt-3" href="{% url 'posts:scholarship_list' %}" role="button">Find Scholarships</a>
            </div>
          </div>
        </div>
      </main>
{% endblock %}