<p>
I hereby certify that, to the best of my knowledge, 
that the information I have placed in my account portfolio 
is true and accurate.
</p>

<p>
I recognized the authority of UP to process my personal and sensitive personal information 
for the purpose of evaluating my application and eligibility for a scholarship program.
</p>

<p>
The university may compile statistics and conduct research on information 
I have willfully submitted and declared in connection with my scholarship application 
and request for availment of other student services subject to the provisions of the 
Philippine Data Privacy Act and applicable research ethics guidelines 
in order to carry out its mandate as the National University. 
</p>

<p>
I understand that all information in my application and request are necessary 
and will be treated with utmost confidentiality.
</p>