<div class="text-center">
  <a
    class="nav-link dropdown-toggle"
    href=""
    id="actionDropdown"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="align-items-center mdi mdi-24px mdi mdi-chevron-down text-primary"> </i>
  </a>
  <div class="dropdown-menu" aria-labelledby="actionDropdown">
    <a class="dropdown-item" href="{{record.get_absolute_url}}">View</a>
    <a class="dropdown-item" href="{{record.get_update_url}}">Update</a>
  </div>
</div>
