<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <style>
            .title {
                font-size: 14px;
                font-weight: bold;
            }
            .timestamp {
                color: #252525;
                font-size: 10px;
                font-style: italic;
            }
            .feedback {
                color: #1e547e;
                font-size: 10px;
            }
            .privacy {
                color: #f44336;
                font-family: serif;
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        {% block content %}
            {{message}}
        {% endblock %}
        {% include 'partials/email/signature.html' %}
    </body>
</html>