{% extends 'partials/email/base.html' %}
{% load account socialaccount util_tags %}

{% block content %}
<p>Hello <strong>{{ object.first_name }},</strong></p>
  
<p>Congratulations! Your registration request has been approved.</p>

<ul style="list-style-type: none">
  <li>Name: <strong>{{ object.first_name }} {{ object.last_name }}</strong></li>
  <li>Student Number: <strong>{{ object.student_number }}</strong></li>
  <li>Email: <strong>{{ object.email }}</strong></li>
</ul>

<p><b>
  You may now create your password and login to your sikap account by clicking 
  {{site_domain}}
  <a href="{{signup_url}}">here</a>
</b></p>
{% endblock  %}