<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse-{{ object.pk }}"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapse-{{ object.pk }}">{{ object.question }}</button>
    </h2>
    <div id="panelsStayOpen-collapse-{{ object.pk }}"
         class="accordion-collapse collapse">
        <div class="accordion-body">{{ object.answer|safe }}</div>
    </div>
</div>
